[Unit]
Description=PilotGo plugin topology server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/opt/PilotGo/plugin/topology/server
ExecStart=/opt/PilotGo/plugin/topology/server/PilotGo-plugin-topology-server --config.file=/opt/PilotGo/plugin/topology/server/config_sever.yaml

[Install]
WantedBy=multi-user.target
